@{
    ViewData["Title"] = "About";
}
<br>
<h2>@ViewData["Title"]</h2>
<h2>What is DNC 567?</h2>


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at nunc a urna auctor porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus enim mi, dignissim et magna pretium, condimentum scelerisque velit. Pellentesque eget accumsan ligula. Mauris augue enim, fermentum in tristique a, convallis vitae nulla. Suspendisse leo turpis, fringilla sed nisi nec, ullamcorper sollicitudin mauris. Phasellus efficitur fringilla mattis. Nullam luctus cursus massa, sed semper metus faucibus eget. Donec metus sapien, bibendum quis erat eget, mattis volutpat erat. Ut a metus placerat est rhoncus egestas. Praesent tempor non diam non tempus. Ut non tincidunt mauris.</p>

<p>Vestibulum mattis tortor at lectus sagittis iaculis. Pellentesque tincidunt facilisis commodo. Maecenas nibh nisl, rhoncus vitae felis in, pharetra lacinia quam. Nulla ultrices tellus a ipsum posuere porttitor at eget libero. Morbi eu mattis urna. Cras vehicula viverra euismod. Morbi sed dapibus felis, in aliquam arcu. Nunc consectetur dignissim urna. Quisque ac nisi ipsum. Aenean mattis felis in venenatis sodales. Ut et posuere mauris, vitae malesuada leo. Curabitur eleifend aliquet condimentum. Vivamus vitae faucibus ligula.</p>

<p>Ut sed risus imperdiet, hendrerit tellus in, laoreet est. Phasellus a tempor elit. Fusce cursus mollis suscipit. Aliquam mattis quam ligula, a posuere mauris vestibulum in. Ut suscipit elementum ex ac lobortis. Aenean pharetra interdum venenatis. Fusce pellentesque, ante sed varius auctor, felis est vehicula libero, finibus porttitor mauris arcu quis justo. Integer malesuada metus libero, sit amet rhoncus magna facilisis eget. Fusce mauris enim, imperdiet in neque eu, gravida venenatis est. Suspendisse potenti. Suspendisse bibendum elit nisi, sit amet feugiat urna suscipit eget. Donec dapibus, magna fringilla dictum condimentum, ipsum lorem malesuada nisl, vitae consectetur sem erat vestibulum nisl. Aliquam erat volutpat. Fusce auctor, massa non vehicula tempus, libero ex vestibulum ipsum, a pellentesque quam metus ut leo. Phasellus tristique sem commodo dolor viverra imperdiet. Donec eget finibus mi.</p>
