@{
    ViewData["Title"] = "Home Page";
}
@using DNC567.Models
@model Instructor
<br><br><br><br><br>

<div class="row">
    <div class="col-sm-12">
        <form action="#">
            <h2 class="style">Personal Info</h2>
            <div class="col-sm-3">
                <img class="profile-pic pic"src="~/images/blank-avatar.jpg" alt="Student Name">
                <div class="form-group">
                    <label for="ProfilePic"></label>
                    <input type="file" name="ProfilePic" accept="image/*">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Add Pic">
                </div>
            </div>
        </form>
        <form>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input class="form-control" type="text" name="FirstName" value="First Name">
                </div>
                <div class="form-group">
                    <label for="LastName">Last Name</label>
                    <input class="form-control" type="text" name="LastName" value="Last Name">
                </div>
                <div class="form-group">
                    <label for="StudentBirthday">Birthday</label>
                    <input class="form-control" type="date" >
                </div>
                <div class="form-group">
                    <label for="InstructorName">Instructor Name</label>
                    <input class="form-control" type="text" name="InstructorName" value="Instructor Name">
                </div>
                <div class="form-group">
                    <label for="Location">Location</label>
                    <input class="form-control" type="text" name="Location" value="Location">
                </div>
                <div class="form-group">
                    <input class="btn btn-info" type="submit" value="Update Info">
                </div>
            </div>
        </form>
        <form>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="Description">About Me:</label>
                    <textarea style="height: 300px;"class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dui mauris, maximus vel justo vitae, egestas luctus nisi. Etiam orci diam, varius eu luctus id, molestie at ligula. Aliquam finibus quam mauris, eget congue velit condimentum at. Aenean nibh ligula, cursus sit amet ornare vitae, feugiat volutpat eros. Quisque ornare orci elit, vel interdum orci consectetur lobortis. Nulla facilisi. Aenean sed ipsum vitae sapien maximus luctus. Mauris ultrices mattis nisl ut ultricies. Mauris a maximus orci, sit amet vestibulum lectus. Maecenas ac mattis est. Nullam fringilla, odio vel feugiat fringilla, eros elit egestas quam, a tempor nibh augue at tellus. Etiam scelerisque velit ut purus lobortis, a gravida tellus sagittis. Aliquam erat volutpat. Nunc turpis quam, interdum sit amet dictum et, mollis sit amet ante. Phasellus et tincidunt arcu.</textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-info" type="submit" value="Update">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2 class="about">Training</h2>
        <div class="col-sm-4">
            <h4 class="certi">Add Style:</h4>
            <form>
                <div class="form-group">
                    <label for="StyleName">Style</label>
                    <input class="form-control" type="text" placeholder="Dance Style">
                </div>
                <div class="form-group">
                    <label for="SkillLevel">Skill Level</label>
                    <select class="form-control" name="SkillLevel">
                        <option>Beginner</option>
                        <option>Intermediate</option>
                        <option>Advanced</option>
                        <option>Professional</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="btn btn-info" type="submit" value="Add">
                </div>    
            </form>
        </div>
        <div class="col-sm-4">
            <h4 class="certi">Add Awards:</h4>
            <form>
                <div class="form-group">
                    <label for="AwardTitle">Award Title</label>
                    <input class="form-control" type="text" name="AwardTitle" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="AwardYear">Year</label>
                    <input class="form-control" type="month" >
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Add">
                </div>
            </form>

        </div>
        <div class="col-sm-4">
            <h4 class="certi">Add Certificate:</h4>
            <form>
                <div class="form-group">
                    <label for="CertificateTitle">Certificate Title</label>
                    <input class="form-control" type="text" name="CertificateTitle" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="CertificateYear">Year</label>
                    <input class="form-control" type="month" >
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Add">
                </div>
            </form>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4 class="video">Add Video:</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3 class="certi">My Certificates:</h3>
        <table class="table table-hover">
            <tr>
                <td>Lorem ipsum dolor</td>
                <td>2011</td>
                <td><button onclick="certiDelete(this)"class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor</td>
                <td>2011</td>
                <td><button onclick="certiDelete(this)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor</td>
                <td>2011</td>
                <td><button onclick="certiDelete(this)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor</td>
                <td>2011</td>
                <td><button onclick="certiDelete(this)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <h3 class="style">My Styles:</h3>
        <table class="table table-hover">
            <tr>
                <td>Lorem ipsum dolor</td>
                <td>Professional</td>
                <td><button onclick="styleDelete(this)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor</td>
                <td>Professional</td>
                <td><button onclick="styleDelete(this)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor</td>
                <td>Professional</td>
                <td><button onclick="styleDelete(this)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor</td>
                <td>Professional</td>
                <td><button onclick="styleDelete(this)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3 class="about">My Awards:</h3>
        <table class="table table-hover">
            <tr>
                <td>Lorem ipsum dolor</td>
                <td>2011</td>
                <td><button onclick="awardDelete(this)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor</td>
                <td>2011</td>
                <td><button onclick="awardDelete(this)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor</td>
                <td>2011</td>
                <td><button onclick="awardDelete(this)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor</td>
                <td>2011</td>
                <td><button data-toggle="modal" data-target="#exampleModal13" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="videos">
        <h4> My Videos:</h4>
        <div class="col-sm-3">
            <img onclick="videoModal()" style="width:200px;" src="~/images/blankVideo.png" alt="video">
        </div>
        <div class="col-sm-3">
            <img onclick="videoModal()" style="width:200px;" src="~/images/blankVideo.png" alt="video">
        </div>
        <div class="col-sm-3">
            <img onclick="videoModal()" style="width:200px;" src="~/images/blankVideo.png" alt="video">
        </div>
        <div class="col-sm-3">
            <img  onclick="videoModal()" style="width:200px;" src="~/images/blankVideo.png" alt="video">
        </div>
    </div>
</div>
<div class="row">
    <div class="videos">
        <div class="col-sm-3">
            <img onclick="videoModal()" style="width:200px;" src="~/images/blankVideo.png" alt="video">
        </div>
        <div class="col-sm-3">
            <img onclick="videoModal()" style="width:200px;" src="~/images/blankVideo.png" alt="video">
        </div>
    </div>
</div>
<div style="display: none;" id="styleModal" class="col-sm-3 modal">
    <h4>Deleting Style</h4>
    <p><strong>Lorem ipsum dolor</strong> | <strong>Professional</strong></p>
    <p>You are about to delete this style.  Are you sure?</p>
    <button onclick="closeModal()" class="btn btn-sm btn-warning">Cancel</button>
    <button onclick="closeModal()" class="btn btn-sm btn-danger">Confirm</button>
</div>
<div style="display: none;" id="awardModal" class="col-sm-3 modal">
    <h4>Deleting Award</h4>
    <p><strong>Lorem ipsum dolor</strong> | <strong>2011</strong></p>
    <p>You are about to delete this award.  Are you sure?</p>
    <button onclick="closeModal()" class="btn btn-sm btn-warning">Cancel</button>
    <button onclick="closeModal()" class="btn btn-sm btn-danger">Confirm</button>
</div>
<div style="display: none;" id="certiModal" class="col-sm-3 modal">
    <h4>Deleting Certificate</h4>
    <p><strong>Lorem ipsum dolor</strong> | <strong>2011</strong></p>
    <p>You are about to delete this certificate.  Are you sure?</p>
    <button onclick="closeModal()" class="btn btn-sm btn-warning">Cancel</button>
    <button onclick="closeModal()" class="btn btn-sm btn-danger">Confirm</button>
</div>
<div style="display: none;" id="videoModal" class="col-sm-8 modal">
    <h4><strong>Title: </strong><br> My Dancing Video</h4>
    <p><strong>Description:<br> </strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis at tellus at urna condimentum mattis pellentesque. Nisl condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Viverra tellus in hac habitasse platea dictumst. Sit amet risus nullam eget felis. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et. Sociis natoque penatibus et magnis dis parturient montes nascetur. Quam lacus suspendisse faucibus interdum. Dictumst quisque sagittis purus sit amet. Dui vivamus arcu felis bibendum ut tristique et.</p>
    <img style="width:70%; margin: 0 auto;display: block;" src="~/images/blankVideo.png" alt="video">
    <button onclick="closeModal()" class="btn btn-sm btn-warning">Cancel</button>
    <button onclick="closeModal()" class="btn btn-sm btn-danger">Delete</button>
</div>