@{
    ViewData["Title"] = "Home Page";
}
<video autoplay muted loop id="myVideo">
    <source src="images\DNC567-main-video.mp4" type="video/mp4">
</video>

<div class="mlogo">
    <img src="images\DNC-Logo.png" alt="dnc logo">
    <a href="/loginreg"><button type="button" class="btn btn-info btn-lg">Enter</button></a>
</div>
