/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.mlogo {
    position: fixed;
    bottom: 0;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
}
.mlogo img{
    margin-top:10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.mlogo button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.naving{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:350px;
}

